# Node-Module
/node_modules/

# Umgebungs-Variablen
.env

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Coverage-Reports
coverage/

# Build-Ordner
dist/

# Editor- und OS-Dateien
.DS_Store
.vscode/
.idea/
